section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 45px 100px;
}

h1 {
    width: 100%;
    position: relative;
}

h2 {
    width: 100%;
    font-size: 20px;
}

h1::before {
    content: "";
    position: absolute;
    bottom: -15px;
    margin: 0 auto;
    display: block;
    background-color: #80D1F4;
    width: 40px;
    height: 3px;
}

/* Usuário */
.user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
}


/* Repositórios */
.repositorys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    padding: 35px 35px 5px 35px;
    border: 1px solid #282B30;
    border-radius: 25px;
}

.repository {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 32%;
    background-color: #282B30;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 30px;
    transition: ease-in-out 0.7s;
}

.repository:hover {
    transform: scale(0.95); 
    cursor: pointer;
}

p {
    width: 100%;
}