<section>
    <h1>Bitcoin</h1>
    <p class="att-bitcoin">Última atualização</p>
    <div class="container-bitcoin">
        <div class="img-bitcoin">
            <img src="assets/img/bitcoin.png">
        </div>
        <div class="cotacao">
            <!-- Card de cotação Real -->
            <div class="bitcoin-cotacao real">
                <p>Real</p>
                <p class="valor">R$ </p>
            </div>
            <!-- Card de cotação Dólar -->
            <div class="bitcoin-cotacao dolar">
                <p>Dólar</p>
                <p class="valor">R$ </p>
            </div> 
        </div>
    </div>
</section>
